.left {
  position: absolute;
  z-index: 1;
}

.viewer {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.message_container {
  flex: 1;
  display: flex;  
  align-items: center;
  justify-content: center;
}

.diagram {
  flex: 1;
}
