#root {
    display: flex;
    flex-direction: row;
}

.left {
  z-index: 1;
  height: 100vh;
  border-right: solid 1px black;
  padding: 1em 1em;
}

.viewer {
  flex: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.message_container {
  flex: 1;
  display: flex;  
  align-items: center;
  justify-content: center;
}

.diagram {
  flex: 1;
}

.btn {
    margin-bottom: 10px;
}